<div class="main-content vertical-center">
    <div class="container">
        <div class="row">
              <div class="col-md-3">
              </div>
            <div class="col-md-6 col-md-offset-6 centered">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Enter your email address</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="resetForm">
                              <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input formControlName="email" matInput placeholder="Email address" type="email">
                                    </mat-form-field>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                                            
                                            <div class="" *ngIf="email.errors.required"><small>email is required</small></div>
                                            <div class="" *ngIf="email.errors.email"><small>wrong email format</small></div>
                                            
                                        </div> 
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                  <div class="col-md-6">
                            <button mat-raised-button type="submit" (click)="goBack()" class="btn btn-danger float-left">Go Back</button>
                            
                            </div>
                            <div class="col-md-6">
                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="!resetForm.valid" (click)="resetUser(resetForm.value)">Reset</button>
                                    
                                    </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
              </div>
            <!-- <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </div>
  