<div class="main-content vertical-center">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3">
            </div>
          <div class="col-md-6">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Create Account</h4>
                      <!-- <p class="card-category">Complete your profile</p> -->
                  </div> 
                  <div class="card-body">
                      <form #myForm="ngForm" [formGroup]="signupForm">
                        <div class="form-group">
                        <div class="row">
                              <div class="col-md-7">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="name" placeholder="First Name" type="text">
                                   
                                  </mat-form-field>
                                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                                      <div class="" *ngIf="name.errors.required"><small>First name is required</small></div>
                                      
                                  </div> 
                              </div>
                              <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="surname" placeholder="Last Name" type="text">
                                  </mat-form-field>
                                  <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                                      <div class="" *ngIf="surname.errors.required"><small>Last name is required</small></div>
                                      
                                  </div> 
                              </div>
                              
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="password" autocomplete placeholder="Password" type="password">
                                 </mat-form-field>
                                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger d-inline-block px-3 py-1">
                                    <div class="" *ngIf="password.errors.required"><small>password is required</small></div>
                                  <div class="" *ngIf="password.errors.pattern"><small>Password must contain<ul><li>one upper case</li><li>one number</li><li>one special character</li><li>at least 8 characters</li></ul></small></div>
                                    
                                </div> 
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="confirmpassword" autocomplete placeholder="Confirm Password" type="password">
                                </mat-form-field>
                                <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)" class="alert alert-danger d-inline-block px-3 py-1">
                                    <div class="" *ngIf="confirmpassword.errors.required"><small>password is required</small></div>
                                  <div class="" *ngIf="confirmpassword.errors.pattern"><small>Password must contain<ul><li>one upper case</li><li>one number</li><li>one special character</li><li>at least 8 characters</li></ul></small></div>
                                    
                                </div> 
                              </div>
                          </div>
                        </div>
                        <div class="form-group ">
                          <div class="row">
                            <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                  <input matInput  formControlName="email" placeholder="Email address" type="email">
                                </mat-form-field>
                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                                    <div class="" *ngIf="email.errors.required"><small>email is required</small></div>
                                            <div class="" *ngIf="email.errors.email"><small>wrong email format</small></div>
                                    
                                </div> 
                            </div>
                            <div class="col-md-4 d-none">
                              
                                <mat-form-field class="example-full-width">
                                    <input formControlName="age" matInput [matDatepicker]="picker" placeholder="Birth date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <div *ngIf="age.invalid && (age.dirty || age.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                                    <div class="" *ngIf="age.errors.required"><small>age is required</small></div>
                                    
                                </div> 
                              </div>
                        </div>
                      </div>
                        <div class="form-group d-none">
                          <div class="row">
                              
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="address" placeholder="Address" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                        </div>
                        <div class="form-group d-none">
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="city" placeholder="City" type="text">
                                </mat-form-field>
                                <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger h-25 d-inline-block px-3 py-1">
                                    <div class="" *ngIf="city.errors.required"><small>city is required</small></div>
                                    
                                </div> 
                              </div>
                              <div class="col-md-4">
                                <!-- <mat-form-field class="example-full-width">
                                  <input matInput formControlName="country" placeholder="Country" type="text">
                                </mat-form-field> -->
                                <mat-form-field class="example-full-width">
                                    <mat-select formControlName="country" placeholder="Country">
                                        <mat-option *ngFor="let country of countries" [value]="country">
                                            {{country}}
                                        </mat-option>
                                      </mat-select>
                                  </mat-form-field>

                                  <div *ngIf="country.invalid && (country.dirty || country.touched)" class="alert alert-danger">
                                      <div *ngIf="country.errors.required">Country is required</div>
                                  </div> 
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="postalcode" placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                        </div>
                          
                          

                        <div class="form-group">
                          <div class="row clearfix">
                              <div class="col-md-6">
                                  <button mat-raised-button type="button" (click)="goBack()"  class="btn btn-danger float-left">Go Back</button>
                        
                                      
                        </div>
                        <div class="col-md-6">

                            
                            <button mat-raised-button type="submit" [disabled]="!signupForm.valid" (click)="addUser(signupForm.value)" class="btn btn-danger float-right">Create</button>
                        
                        
                        
                        
                      </div>
                        </div>
                        </div>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
            </div>
          <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
